body{
    width: 960px;
    margin: 0 auto;
}
.comments,.book{
    margin: 10px;
    padding: 0px 10px;
    border-left: 1px solid #999;
}
h1{
    border-left: 5px solid green;
    border-bottom: 1px solid green;
    padding: 0px 10px;
}
h2{
    border-left: 5px solid green;
    padding: 0px 10px;
}
.author,.title,.name,.error,.result,a{
    font-weight: bold;
}
label{
    width: 100px;
    display: inline-block;
}
.line{
    margin: 10px 0px;
}
input[type="text"],input[type="password"]{
    width: 200px;
    padding: 10px;
}
input[type="submit"]{
    padding: 10px 30px;
}
.error{
    color: red;
    padding: 10px 5px;
}
.price{
    color: red;
}
.result{
    color: green;
    padding: 10px 5px;
}
a{
    text-decoration: none;
}
p>span{
    color: black;
    font-weight: normal;
}